@use "../../scss/base/variables" as *;

.menu {
    &__item {
        background-color: $primary-light;
        color: $text-over-primary;
        padding: 1rem;
        border-radius: 0.8rem;
        transition: 0.5s;

        &:hover {
            filter: brightness(50%);
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}
