# SQLite
DB_TYPE=<better-sqlite3-or-postgres>
DB_DATABASE=<database-name-or-path>

# PostgreSQL
# DB_TYPE=postgres
# DB_HOST=<database-host>
# DB_PORT=5432
# DB_USERNAME=<database-username>
# DB_PASSWORD=<database-password>
# DB_DATABASE=<database-name>

# TypeORM
DB_SYNCHRONIZE=<0-or-1>
DB_AUTO_LOAD_ENTITIES=<0-or-1>
